In [2]:
import pandas as pd

# Vimeo
### [Vimeo Open TV](https://vimeo.com/opentelevision)

### Vimeo Date

In [5]:
vimeo_date_df = pd.read_csv('./data/April-May_2019/Vimeo_Date_(04_03_2019)-(05_01_2019).csv')
vimeo_date_df.head()

,plays,downloads,loads,finishes,start_date,end_date,likes,comments,mean_percent,mean_seconds,sum_seconds,total_seconds
0,461,0.0,1436.0,93.0,2019-04-03,2019-04-04,0.0,0.0,67.0,305.0,140629.0,254043.0
1,456,0.0,1517.0,100.0,2019-04-04,2019-04-05,0.0,0.0,52.0,276.0,126010.0,268363.0
2,351,2.0,1145.0,76.0,2019-04-05,2019-04-06,0.0,0.0,60.0,282.0,99169.0,178558.0
3,252,1.0,973.0,59.0,2019-04-06,2019-04-07,0.0,0.0,57.0,260.0,65707.0,128235.0
4,207,2.0,1065.0,39.0,2019-04-07,2019-04-08,1.0,0.0,55.0,272.0,56415.0,114080.0

#### Questions:
* *Does each row relate to a specific video?*
* *Do **mean_seconds** , **sum_seconds**, and **total_seconds** refer to the amount of time spent watching by those that loaded the video?*
* *What do **start_date** and **end_date** refer to?*

### Vimeo Device

In [8]:
vimeo_device_df = pd.read_csv('./data/April-May_2019/Vimeo_Device_(04_03_2019)-(05_01_2019).csv')
vimeo_device_df.head()

,plays,downloads,loads,finishes,device_type,mean_percent,mean_seconds,sum_seconds,total_seconds
0,6124,40.0,22650.0,1205.0,desktop,65.0,363.0,2224427.0,3778219.0
1,4726,0.0,13011.0,421.0,mobile,40.0,315.0,1491367.0,4192730.0
2,432,0.0,1312.0,77.0,tablet,59.0,315.0,136241.0,277755.0
3,249,0.0,316.0,18.0,tv,80.0,97.0,24218.0,144514.0
4,6,0.0,3212.0,0.0,unknown,39.0,181.0,1086.0,0.0

### Vimeo Region

In [11]:
vimeo_region_df = pd.read_csv('./data/April-May_2019/Vimeo_Region_(04_03_2019)-(05_01_2019).csv')
vimeo_region_df.head()

,plays,downloads,loads,finishes,code,name,latitude,longitude,mean_percent,mean_seconds,sum_seconds,total_seconds
0,8180,15.0,27488.0,1304.0,US,United States,39.783730,-100.445882,53.0,356.0,2916402.0,6236182.0
1,500,0.0,1163.0,30.0,IN,India,22.351115,78.667743,38.0,362.0,181493.0,555085.0
2,389,0.0,1352.0,50.0,GB,United Kingdom,54.702355,-3.276575,54.0,269.0,104880.0,223797.0
3,311,0.0,1188.0,88.0,CA,Canada,61.066692,-107.991707,68.0,368.0,114491.0,178448.0
4,189,1.0,672.0,20.0,DE,Germany,51.083420,10.423447,49.0,229.0,43376.0,95177.0

### Vimeo Video

In [13]:
vimeo_video_df = pd.read_csv('./data/April-May_2019/Vimeo_Video_(04_03_2019)-(05_01_2019).csv')
vimeo_video_df.head()

,Project Code,plays,downloads,loads,finishes,likes,comments,uri,name,duration,created_time,sizes,mean_percent,mean_seconds,sum_seconds,total_seconds
0,FOB,1689,0.0,3086.0,76.0,8.0,6.0,/videos/328987874,FOBia - Pilot,1615.0,2019-04-07T21:29:33+00:00,Array,42.0,611.0,1033242.0,2729262.0
1,TRS,1193,0.0,1985.0,56.0,5.0,0.0,/videos/329967024,The Right Swipe - Pilot,896.0,2019-04-12T06:42:16+00:00,Array,50.0,405.0,483262.0,1070063.0
2,BG,699,0.0,3468.0,157.0,1.0,0.0,/videos/203924325,Brown Girls -- Episode 1,410.0,2017-02-14T00:43:46+00:00,Array,69.0,241.0,168537.0,287254.0
3,BG,532,0.0,2590.0,95.0,0.0,0.0,/videos/189724238,Brown Girls -- Trailer,141.0,2016-11-01T01:03:06+00:00,Array,64.0,73.0,39321.0,75504.0
4,SP,487,0.0,1032.0,22.0,1.0,0.0,/videos/143933380,Open TV Presents: Southern for Pussy,283.0,2015-10-28T22:38:55+00:00,Array,39.0,102.0,49866.0,138128.0

#### NOTE: the URL seems to be the uri without the `/videos/` subdomain

# Twitter

In [29]:
twitter_df = pd.read_csv('./data/April-May_2019/Twitter_(04-03-2019)-(05-01-2019).csv')
twitter_df.head()

,Project id,Tweet id,Tweet permalink,Tweet text,time,impressions,engagements,engagement rate,retweets,replies,...,promoted hashtag clicks,promoted detail expands,promoted permalink clicks,promoted app opens,promoted app installs,promoted follows,promoted email tweet,promoted dial phone,promoted media views,promoted media engagements
0,GEN,1.123700e+18,https://twitter.com/weareotv/status/1123699320...,For the culture ✊🏾✊🏾✊🏾 https://t.co/wS184Y0kux,2019-05-01 21:22 +0000,289,18,0.062284,0,0,...,-,-,-,-,-,-,-,-,-,-
1,HAV,1.123340e+18,https://twitter.com/weareotv/status/1123339642...,#OTVWednesdays continues 5/8 @ #ReunionChicago...,2019-04-30 21:33 +0000,407,16,0.039312,1,0,...,-,-,-,-,-,-,-,-,-,-
2,FOB,1.123250e+18,https://twitter.com/weareotv/status/1123245108...,Watch @FOBiaSeries now at https://t.co/Dphi4Di...,2019-04-30 15:17 +0000,519,5,0.009634,1,0,...,-,-,-,-,-,-,-,-,-,-
3,GEN,1.122980e+18,https://twitter.com/weareotv/status/1122982969...,"TY for joining us @ OTV Presents: Renee, #Good...",2019-04-29 21:56 +0000,1002,43,0.042914,4,0,...,-,-,-,-,-,-,-,-,-,-
4,GEN,1.121850e+18,https://twitter.com/weareotv/status/1121847909...,Thank you to all who made Part 1/2 of our Scre...,2019-04-26 18:45 +0000,258,6,0.023256,0,0,...,-,-,-,-,-,-,-,-,-,-

In [22]:
twitter_df.columns

Index(['Project id', 'Tweet id', 'Tweet permalink', 'Tweet text', 'time',
       'impressions', 'engagements', 'engagement rate', 'retweets', 'replies',
       'likes', 'user profile clicks', 'url clicks', 'hashtag clicks',
       'detail expands', 'permalink clicks', 'app opens', 'app installs',
       'follows', 'email tweet', 'dial phone', 'media views',
       'media engagements', 'promoted impressions', 'promoted engagements',
       'promoted engagement rate', 'promoted retweets', 'promoted replies',
       'promoted likes', 'promoted user profile clicks', 'promoted url clicks',
       'promoted hashtag clicks', 'promoted detail expands',
       'promoted permalink clicks', 'promoted app opens',
       'promoted app installs', 'promoted follows', 'promoted email tweet',
       'promoted dial phone', 'promoted media views',
       'promoted media engagements'],
      dtype='object')

# Facebook

### Facebook Page

#### IMPORTANT NOTE:
For this file to be read, it had to be copy/pasted to a Google sheet and then downloaded as an `.xslx` file. For some reason, copy/pasting in MS Excel didn't work (probably cuz there is problematic meta-data and that is getting copied as well)

In [27]:
facebook_page_sheets = pd.read_excel('./data/April-May_2019/Facebook_test.xlsx', sheet_name=None)

In [28]:
for k, v in facebook_page_sheets.items():
    print(k)

Key Metrics
Daily Like Source
Daily Total Frequency dist...
Weekly Total Frequency dist..
28 Days total frequency dist...
Daily Page Posts Frequency Dist
Weekly Page Posts Frequency Dis

In [10]:
for k, v in facebook_page_df.items():
    print(k)

In [30]:
facebook_page_df = pd.read_csv('./data/April-May_2019/Facebook_Page_(04_03_2019)-(05_01_2019).csv')
facebook_page_df.head()

,Date,Lifetime Total Likes,Daily New Likes,Daily Unlikes,Daily Page Engaged Users,Weekly Page Engaged Users,28 Days Page Engaged Users,Daily Total Reach,Weekly Total Reach,28 Days Total Reach,...,Daily Total get direction click count per Page.1,Weekly Total get direction click count per Page.1,Daily Total phone calls click count per Page,Weekly Total phone calls click count per Page,Daily Total phone calls click count per Page.1,Weekly Total phone calls click count per Page.1,Daily Total website click count per Page,Weekly Total website click count per Page,Daily Total website click count per Page.1,Weekly Total website click count per Page.1
0,NaN,Lifetime: The total number of people who have ...,Daily: The number of new people who have liked...,Daily: The number of Unlikes of your Page (Uni...,Daily: The number of people who engaged with y...,Weekly: The number of people who engaged with ...,28 Days: The number of people who engaged with...,Daily: The number of people who had any conten...,Weekly: The number of people who had any conte...,28 Days: The number of people who had any cont...,...,Daily: Total get direction click count per Pag...,Weekly: Total get direction click count per Pa...,Daily: Total phone calls click count per Page,Weekly: Total phone calls click count per Page,Daily: Total phone calls click count per Page ...,Weekly: Total phone calls click count per Page...,Daily: Total website click count per Page,Weekly: Total website click count per Page,Daily: Total website click count per Page (Uni...,Weekly: Total website click count per Page (Un...
1,4/3/19,2600,3,NaN,56,375,1073,837,2839,8395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,5
2,4/4/19,2605,5,NaN,167,463,1152,1648,3488,9018,...,NaN,NaN,NaN,NaN,NaN,NaN,1,8,1,6
3,4/5/19,2615,10,NaN,420,794,1428,3907,6203,11244,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,6
4,4/6/19,2616,2,NaN,100,850,1483,1737,7136,12158,...,NaN,NaN,NaN,NaN,NaN,NaN,1,9,1,7

#### NOTE: This had to be converted to a .csv from the `Key Metrics` sheet in the xls file
If converting this to CSVs is too time consuming, it might be worth just having a UGRA do it.